
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="test">
      <div class="cont">
          <a href="/">
              <h1><strong><b>Disease Detection</b></strong></h1>   
          </a>
          <a href="/scan">Scan</a>
          <a id="interval" href="/scaninterval">ScanInterval</a>
          <a href="/aboutus">About us</a>
      </div>
      <div class="datauser">
        <a href="/register" id="navbarRegister">Register</a>
        <span id="navbarUser"></span>
        <button id="logoutButton">Logout</button>
        </div>
      </div>
      <div class="contt">
        <div class="cont-about-usa">
          <h3>Learn more about us!</h3>
          <p>Visit our social media:</p>
          <a href="https://twitter.com/home"><img class="gambar-logo" src="/static/image/logo-black.png" alt="twiter"></a>
          <a href="https://www.youtube.com/">
            <img class="gambar-logo" src="/static/image/yt-red-removebg-preview.png" alt="yt">
          </a>
          <a href="https://www.instagram.com/">
            <img class="gambar-logo" src="/static/image/ig.png" alt="ig">
          </a>
          <p>Contact us at:</p>
          <p>+62-430680</p>
          <p>@plantdisease@gmail.com</p>
        </div>
      
      <div class="cont-about-us">
        <h2>Why we make it?</h2>
        <p>
          Plant diseases are important to cure because they affect the growth, yield, and quality of plants, which are essential for human food, animal feed, and industrial purposes. Plant diseases can also cause economic losses, environmental damage, and social problems. Therefore, plant diseases pose a serious threat to global food security and sustainable development1.
        
        </p>
        <p>
          AI can help in plant disease detection and classification by using deep learning technologies, which are a subset of machine learning. Deep learning can process large amounts of data, extract complex features, and learn from them to make accurate predictions. Deep learning can also handle the challenges of plant disease detection, such as small differences between the lesion area and the background, low contrast, large variations in the scale and type of the lesion area, and noise in the images2.

        </p>
        <p>
          Some of the advantages of using AI for plant disease detection are:
          It can reduce the reliance on human experts, who may be scarce, expensive, or biased.
          It can provide fast and real-time diagnosis, which can help in timely intervention and control measures.
          It can improve the accuracy and consistency of plant disease detection, which can help in reducing the spread and severity of the diseases.
        </p>

        <h2>Who are we?</h2>
        <p>
          We are a group of three AI enthusiasts who are interested in AI and believe that AI can make a difference in our day-to-day lives. One of our AI projects is to detect plant diseases on three types of plants: peper, tomato, and potato. These plants are important for us because they are sources of food and income for many farmers in our area. However, these plants are often attacked by various types of diseases, such as early blight, spider mites, and others, which can reduce the quality and quantity of the harvest.




        </p>
        <p>
          To detect plant diseases, we use deep learning methods, which are a part of machine learning. Deep learning can process a lot of image data, extract important features, and learn from them to make accurate predictions. We take pictures of the leaves of the sick plants and give predictions about what disease they have.
        </p>
        <p>
          By using AI, we can simplify and speed up the process of diagnosing plant diseases without the need for experts. We can also improve the efficiency and effectiveness of controlling plant diseases by giving suggestions on how to care for and heal the sick plants. We hope that by using AI, we can help the farmers in our area to increase their productivity and well-being
        </p>
      </div>
      
    </div>
  </body>
  <footer class="foot">
    <div>
      <p>	&#xA9;Make by Darius Felix Lumawie, Josel Linus, Bun Jak Sin 2023</p>
    </div>
    <div>
      <p>Visit our social media</p>
      <div class="gambar">
        <a href="https://twitter.com/home"><img  src="/static/image/logo-white.png" alt="twiter">
        </a>
            <a href="https://www.youtube.com/">
              <img  src="/static/image/yt-red-removebg-preview.png" alt="yt">
            </a>
            <a href="https://www.instagram.com/">
              <img  src="/static/image/ig.png" alt="ig">
            </a>
      </div>
    </div>
  </footer>
  <script src="/static/main.js"></script>
</html> 

