
<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Plant Disease Detection Using CNN</title>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <style>
          .foot{
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }

        </style>
    </head>
<body>
  <div class="test">
    <div class="cont">
        <a href="/">
            <h1><strong><b>Disease Detection</b></strong></h1>   
        </a>
        <a href="/scan">Scan</a>
        <a id="interval" href="/scaninterval">ScanInterval</a>
        <a href="/aboutus">About us</a>
    </div>
    <div class="datauser">
      <a href="/register" id="navbarRegister">Register</a>
      <span id="navbarUser"></span>
      <button id="logoutButton">Logout</button>
      </div>
    </div>
        <div class="container">
          <div class="container">
            <h3>Register</h3>
            <form id="registerForm">
                <label for="name">Nama:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        

<script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
        event.preventDefault(); // mencegah halaman diperbarui

        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        var user = { name: name, email: email, password: password };
        localStorage.setItem('user', JSON.stringify(user)); // menyimpan data pengguna ke dalam local storage
        window.location.href = "/";
    });
</script>

        
      </div>
      <!-- <script src="/static/main.js" defer></script> -->
</body>
<footer class="foot">
  <div>
    <p>	&#xA9;Make by Darius Felix Lumawie, Josel Linus, Bun Jak Sin 2023</p>
  </div>
  <div>
    <p>Visit our social media</p>
    <div class="gambar">
      <a href="https://twitter.com/home"><img  src="/static/image/logo-white.png" alt="twiter">
      </a>
          <a href="https://www.youtube.com/">
            <img  src="/static/image/yt-red-removebg-preview.png" alt="yt">
          </a>
          <a href="https://www.instagram.com/">
            <img  src="/static/image/ig.png" alt="ig">
          </a>
    </div>
  </div>
  
</footer>
<script src="/static/main.js">

</script>
</html>