<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Plant Disease Detection Using CNN</title>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <style>
          footer{
            position: relative;
          }
        </style>
    </head>
<body>
  <div class="test">
    <div class="cont">
        <a href="/">
            <h1><strong><b>Disease Detection</b></strong></h1>   
        </a>
        <a href="/scan">Scan</a>
        <a id="interval" href="/scaninterval">ScanInterval</a>
        <a href="/aboutus">About us</a>
    </div>
    <div class="datauser">
      <a href="/register" id="navbarRegister">Register</a>
      <span id="navbarUser"></span>
      <button id="logoutButton">Logout</button>
      </div>
    </div>
    <div class="scancont ">
      <div>
        <h2>Diagnose your plant with ai just place it on the camera and start diagnose it!</h2>
      </div>
      <div>
        <video autoplay="true" id="videoElement">
        </video>
        
        
        <div class="predictplace">
          <button id="predictButton">Diagnose</button>
          <div class="pred">
            <p >Prediction and first help: </p>
            <p id="predictionResult"></p>
          </div>
          
        </div>
        
      </div>
    </div>
    

<script>
var video = document.querySelector("#videoElement");

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
}

document.getElementById("predictButton").addEventListener("click", function() {
  var canvas = document.createElement("canvas");
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  canvas.getContext('2d').drawImage(video, 0, 0);
  var dataUrl = canvas.toDataURL('image/jpeg');

  fetch('/predict', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ image: dataUrl })
  })
  .then(response => response.json())
  .then(data => {
    document.getElementById("predictionResult").innerText = data.prediction;
  });
});
</script>

</body>
<footer class="foot">
  <div>
    <p>	&#xA9;Make by Darius Felix Lumawie, Josel Linus, Bun Jak Sin 2023</p>
  </div>
  <div>
    <p>Visit our social media</p>
    <div class="gambar">
      <a href="https://twitter.com/home"><img  src="/static/image/logo-white.png" alt="twiter">
      </a>
          <a href="https://www.youtube.com/">
            <img  src="/static/image/yt-red-removebg-preview.png" alt="yt">
          </a>
          <a href="https://www.instagram.com/">
            <img  src="/static/image/ig.png" alt="ig">
          </a>
    </div>
  </div>
</footer>
<script src="/static/main.js"></script>
</html>
